.odd {
    background-color: #f4c2bc;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#no2 {
    color: rgb(21, 64, 181);
    font-size: 36px
}

.no3 {
    font-size: 24px;
}

#no4 {
    background-color: hsl(120, 62%, 83%);
    font-size: 24px;
    font-weight: bold;
}